@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --background-todoApp: #fff;
    --backgroundinput:  #edeef0;
    --backgroundBtn: #70c70d;
    --backgrounHover: #d54c3a;
    --primeiraCor:#002765;
    --segundaCor: #555;
    --checagem: #48d316;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: var(--background-todoApp);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: var(--primeiraCor);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "Roboto", serif;
}

.linha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--backgroundinput);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 23px;
}

button{
    border-radius: 40px;
    background: var(--backgroundBtn);
    border: none;
    padding: 16px 40px;
    color: var(--backgroundinput);
    cursor: pointer;
    font-size: 22px;
}

ul li{
    position: relative;
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Roboto", serif;
}

ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    top: 12px;
    left: 8px;
}


.checado{
    color: var(--segundaCor);
    text-decoration: line-through;
}

.checado::before{
    background: var(--checagem);
}

ul li span{
    position: absolute;
    right: 0;
    top: 8px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: var(--segundaCor);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: var(--backgrounHover);
}